{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
    {% block styles %}
    {% endblock %}

    {% block extra_head %}{% endblock %}
    <title>{% block title %}Sofia Control System{% endblock %}</title>
</head>
<body>

    {% block content %}{% endblock %}
    {% block extra_scripts %}{% endblock %}
</body>
</html>
